h1 {
	margin-top: 150px !important;
}

article img.centered {
	max-width: 100%;
	max-height: 100%;
}

article img.centered.vcentered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
}

.slides .logo img.centered {
	max-width: 50%;
}

.half {
	width: 50%;
	float: left;
	margin-top: 120px;
}

article ul {
	margin-bottom: 80px;
}

p + .in-the-middle {
	margin-top: 1.5em;
}

.in-the-middle ul {
	margin-top: .5em;
}

#boratpose {
	-webkit-transform: translate(80px, -30px) rotate(20deg);
	transform: translate(80px, -30px) rotate(20deg);
}

