.slides article img.centered {
	max-width: 100%;
	max-height: 100%;
}

.slides .vcentered img.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -55%);
	-moz-transform: translate(-50%, -55%);
	-o-transform: translate(-50%, -55%);
}

.slides .logo img.centered {
	max-width: 50%;
}

.half {
	width: 50%;
	float: left;
	margin-top: 120px;
}

article ul {
	margin-bottom: 80px;
}
