<!DOCTYPE html>

<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->

<html>
<head>
	<title>Command Line Learnings For Make Benefit Glorious Nation of WordPress</title>

	<meta charset='utf-8'>
	<script src='./assets/slides.js'></script>

	<link rel="stylesheet" href='./assets/custom.css'></style>
	<link rel="stylesheet" href='./assets/prettyprint.css'></style>
</head>

<body style="display: none">

<section class='slides layout-regular template-default'>
  {{ content }}
</section>
</body>
</html>
